<?xml version="1.0"?>
<configuration debug="false">

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/vHue.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/%d{yyyy-MM-dd}-vHue.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.tomcat">
        <level value="ERROR"/>
    </logger>
    <logger name="org.apache.catalina">
        <level value="ERROR"/>
    </logger>
    <logger name="org.apache.coyote">
        <level value="ERROR"/>
    </logger>
        <logger name="com.sun.jersey">
            <level value="ERROR"/>
        </logger>
    <logger name="ch">
        <level value="ERROR"/>
    </logger>
    <logger name="freemarker">
        <level value="WARN"/>
    </logger>
    <logger name="net.nyllian.vhue.util">
        <level value="WARN"/>
    </logger>
    <logger name="net.nyllian.vhue.server">
        <level value="TRACE"/>
    </logger>
    <logger name="net.nyllian.vhue.server.UpnpServer">
        <level value="WARN"/>
    </logger>
    <logger name="net.nyllian.vhue.webservice">
        <level value="DEBUG"/>
    </logger>
    <root>
        <level value="TRACE"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
